body {
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
    text-align: center;
    margin: 0;
}

.container {
    background-color: #929aaa;
    border-radius: 5px;
    border: 2px solid #a9b0cc;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 20px;
    position: relative;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    color: rebeccapurple;
}

.form-control input,
.form-control textarea {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 15px;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small.error-message {
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small.error-message {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;
}

form button {
    background-color: rosybrown;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: red;
    transition: 0.3s;
}
